<div id="pagewrap" class="pagewrap">
  <div id="preloader-wrapper">
    <h1>Any moment now...</h1>
    <div id="preloader"></div>
  </div>

  <div class="container show" id="page-1">
    
    <!-- Top navigation -->
    <%= erb :header %>

    <div id="home">
      <div class='layer-bg layer' data-depth='0.10' data-type='parallax'>
        <div class="clouds-bg">
          <img src="img/clouds.png" alt="clouds" />
        </div>
      </div>
      <div class='layer-2 layer' data-depth='0.50' data-type='parallax'></div>
      <div class='layer-3 layer' data-depth='0.80' data-type='parallax'></div>
      <div class='layer-overlay layer' data-depth='1' data-type='parallax'>
        <div class="block">
          <img src="img/block.png" alt="block" />
        </div>
      </div>

      <div class="header-text">
         <a class="font-spin spinner text-animate" href="#">
          <span>K</span><span>a</span><span>n</span><span>e</span>
          <span>M</span><span>a</span><span>s</span><span>l</span><span>e</span><span>n</span>
        </a>
        <h2 class="trigger">DESIGNER / DEVELOPER</h2>
      </div>
    </div> 

    <div id="home-mobile">
      <div class="header-text-mobile">
        <h1 class="">KANE MASLEN</h1>
        <h2 class="trigger">DESIGNER / DEVELOPER</h2>
      </div>
      
      <div class="mobile-bg"></div>
      <div class="clouds-mobile">
          <img src="img/clouds.png" alt="clouds" />
        </div>
    </div>
    
    <!-- About me segment -->
    <div id="about-me" class="segment bg-color-dark" >

      <div class="photo-holder delay-1">
        <img src="img/profile-image.jpg" alt="profile photo" />
      </div>

      <div class="info">
        <div class="info-container">
          <div class="info">
            <h4 class="about-subheader">Design</h4>
            <div class="circle"></div>
            <div class="line"></div>
            <p class="snippet">I am driven by a passion to understand the goals and problems of the end-user and tailor solutions that solve these needs. My extensive background in IT and Graphic Design, means I am skilled at leveraging exceptional design principles to produce captivate and engaging user interfaces and user flows. My deliberate approach to design means I consistently deliver results that exceed expectations.</p>
          </div>
        
          <div class="info delay-1">
            <h4 class="about-subheader">Develop</h4>
            <div class="circle"></div>
            <div class="line"></div>
            <p class="snippet">As a dedicated frontend web and application developer, I thrive on the challenge of bringing interactive solutions to life. Armed with a wealth of experience across various programming languages and frameworks, I bring my A-game to every project. Recently I have been developing with React, Javascript, HTML, and SCSS.</p>
          </div>

          <div class="info delay-2">
            <h4 class="about-subheader">Deliver</h4>
            <div class="circle"></div>
            <div class="line"></div>
            <p class="snippet">Over the course of nearly a decade, I have meticulously designed, developed, and delivered an impressive range of projects. I derive satisfaction from my solutions coming to life and making a positive impact.</p>
          </div>
        </div> 
      </div> 
    </div> 
  </div> 

  <!-- Projects segment -->
  <div class="container show" id="page-2">
    <div id="projects" class="segment bg-color-light">

      <div class="ceiling">
        <img src="img/cave-roof.png" alt="cave roof"/>
      </div>

      <div class="projects-body">
        <h3 class="">Projects</h3>
        <div class="line center line-width"></div>

        <div class="project-links">
            <a class="pageload-link project-content nookal-bg" href="#project-nookal">
                <h5 class="text-wrap">Nookal</h5>
                <p>Smart Practice Management for the Allied Health Industry</p>
            </a>

            <a class="pageload-link project-content atlas-link trademark-bg" href="#project-trademark">
                <h5 class="text-wrap">Trademark Vision</h5>
                <p>Machine learning web solutions for IP Australia</p>
            </a>

            <a class="pageload-link project-content abc-link get-homii-bg" href="#project-gethomii">
                <h5 class="text-wrap">Get Homii</h5>
                <p>A property purchasing app for renters</p>
            </a>

            <a class="pageload-link project-content ccp-link" href="#project-ccp">
                <h5 class="text-wrap">Cultural Competence Program</h5>
                <p>An app that promotes cultural competency through lessons and tests</p>
            </a>

            <a class="pageload-link project-content atlas-link" href="#project-atlas">
                <h5>The Cultural Atlas</h5>
                <p>An informational website on culture, developed for SBS</p>
            </a>

            <a class="pageload-link project-content abc-link" href="#project-abc">
                <h5>A+ for kids</h5>
                <p>A fun english learning app for kids, created for ABC kids.</p>
            </a>
        </div>
      </div>

      <div class="hero">  
        <div class='projects-layer-2 projectLayer' data-depth='0.20' data-type='project-parallax'></div>
        <div class='projects-layer-3 projectLayer' data-depth='0.30' data-type='project-parallax'></div>
        <div class='projects-layer-4 projectLayer' data-depth='0.90' data-type='project-parallax'></div>
      </div>  
      <div class="floor">
        <img src="img/projects-fg.png" alt="foreground" />
      </div>  
    </div>
    
    <!-- Footer -->
    <div class="footer bg-color-dark" id="contact">
      <div class="footer-body">
        <h3>Get in touch</h3>
        <div class="line center"></div>
        <p class="footer-para">If you would like to know more about me, download my resume 
        or send me an email. It would be great to hear from you.</p>
       
        <div class="button-holder">
          <a href="docs/resume-kanemaslen.pdf" class="button btn-animation" target="_blank">
            <img src="img/resume-icon.png" class="icon" alt="resume icon" />
            <span>Download resume</span>
          </a>
          <a href="mailto:kanemaslen@gmail.com" class="button btn-animation button--naira-up">
            <img src="img/email-icon.png" class="icon" alt="email icon"/>
            <span>Email me</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <section>
    <%= erb :project_nookal %>
  </section>

  <section>
    <%= erb :project_trademark %>
  </section>

  <section>
    <%= erb :project_gethomii %>
  </section>

  <section>
    <%= erb :project_ccp %>
  </section>

  <section>
    <%= erb :project_atlas %>
  </section>

  <section>
    <%= erb :project_abc %>
  </section>

  <!-- Page loader-->
  <div id="loader" class="pageload-overlay" data-opening="M 0,60 80,60 80,50 0,40 0,60;M 0,60 80,60 80,25 0,40 0,60;M 0,60 80,60 80,25 0,10 0,60;M 0,60 80,60 80,0 0,0 0,60" data-closing="M 0,60 80,60 80,20 0,0 0,60;M 0,60 80,60 80,20 0,40 0,60;m 0,60 80,0 0,0 -80,0">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
      <path d="m 0,60 80,0 0,0 -80,0"/>
    </svg>
  </div>
</div>
